*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #222;
    color: #fff;
}

.container{
    height: 400px;
    width: 800px;
    border: 1px solid deepskyblue;
    border-radius: 10px;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    margin: 0 10%;
}

.child_container{
    height: 200px;
}

.perso{
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    display: inline-block;
    position: relative;
}
span{
    background-color: #fff;
}
.head{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.trunk{
    width: 40px;
    height: 60px;
    position: absolute;
    top: 55px;
    left: 50%;
    transform: translateX(-50%);
}
.leftArm{
    width: 14px;
    height: 50px;
    position: absolute;
    top: 50px;
    left: 25%;
    transform: rotate(40deg);
}
.rightArm{
    width: 14px;
    height: 50px;
    position: absolute;
    top: 50px;
    left: 68%;
    transform: rotate(-40deg);
}
.leftLeg{
    width: 16px;
    height: 60px;
    position: absolute;
    top: 120px;
    left: 37%;
    transform: rotate(10deg);
}
.rightLeg{
    width: 16px;
    height: 60px;
    position: absolute;
    top: 120px;
    left: 55%;
    transform: rotate(-10deg);
}


.div_content_restante_erro{
    height: 120px;
    width: 600px;
    position: absolute;
    top: 0;
    right: 0;
}

p{
    position: absolute;
    top: 37px;
    left: 50px;
    font-size: 20px;
    padding: 10px;
    background-color: blue;
    border-radius: 10px 10px 0 0;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 2px 1px #000;
}

.restante{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 40px;
    padding: 5px;
    font-size: 20px;
    background-color: darkgreen;
    border-radius: 10px;
    position: absolute;
    right: 20px;
    top: 20px;
}

.erroLetra{
    width: 500px;
    height: 40px;
    background-color: blue;
    position: absolute;
    top: 80px;
    left: 50px;
    font-size: 24px;
    padding: 10px;
    border-radius: 0 10px 10px;
    display: flex;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
    text-shadow: 2px 1px #000;
}


.div_content_palavra{
    height: 80px;
    width: 600px;
    position: absolute;
    right: 0;
    top: 120px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.palavraEscondida{
    width: 500px;
    height: 50px;
    background-color: #0096c8;
    border-radius: 10px;
    font-size: 35px;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 4px 2px #222;
}










.div_content_letter{
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

input{
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
    background-color: #3e4c4d;
    border: 1px solid deepskyblue;
    border-radius: 10px;
    color: #fff;
    transition: all ease-in-out 0.2s;
    outline: none;
    font-weight: bolder;
    font-size: 18px;
    box-shadow: inset 0px 4px #666,
                inset -4px 0px #666,
                inset 0px -4px #666,
                inset 4px 0px #666;

}
input:hover{
    transform: translateY(-2px);
    background-color: #496164;
    box-shadow: 0 6px #3e4c4d;
}


.add{
    position: absolute;
    top: 50px;
    margin-left: 5px;
    width: 770px;
    font-size: 90px;
    background-color: greenyellow;
    transition: ease-in-out 1s;
    opacity: .8;
    border-radius: 10px;
}

