*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #222;
    color: #fff;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
body::-webkit-scrollbar{
    display: none;
}

.container{
    height: 400px;
    width: 800px;
    border: 1px solid deepskyblue;
    border-radius: 10px;
    margin: 1% 10%;
    position: relative;
}

.child_container{
    height: 200px;
}

.perso{
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    display: inline-block;
    position: relative;
}
.perso span,
.perso div{
    background-color: #fff;
}
.head{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    bottom: 110px;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
}
.head .leftEye{
    position: absolute;
    left: 6px;
    top: 10px;
    width: 6px;
    height: 4px;
    border-radius: 50%;
    background-color: blue;
    visibility: hidden;
}
.head .rightEye{
    position: absolute;
    right: 6px;
    top: 10px;
    width: 6px;
    height: 4px;
    border-radius: 50%;
    background-color: blue;
    visibility: hidden;
}
.head .mounth{
    position: absolute;
    left: 10px;
    top: 20px;
    width: 10px;
    height: 4px;
    border-radius: 50%;
    background-color: blue;
    visibility: hidden;
}
.trunk{
    width: 30px;
    height: 50px;
    position: absolute;
    bottom: 55px;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
}
.leftArm{
    width: 10px;
    height: 40px;
    position: absolute;
    bottom: 70px;
    left: 31%;
    transform: rotate(40deg);
    visibility: hidden;
}
.rightArm{
    width: 10px;
    height: 40px;
    position: absolute;
    bottom: 70px;
    right: 31%;
    transform: rotate(-40deg);
    visibility: hidden;
}
.leftLeg{
    width: 12px;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 40%;
    transform: rotate(10deg);
    visibility: hidden;
}
.rightLeg{
    width: 12px;
    height: 50px;
    position: absolute;
    bottom: 0;
    right: 40%;
    transform: rotate(-10deg);
    visibility: hidden;
}

.vertic{
    position: absolute;
    left: 20px;
    bottom: 0;
    width: 16px;
    height: 165px;
}
.horizon{
    position: absolute;
    left: 20px;
    top: 20px;
    width: 100px;
    height: 15px;
}
.perso .track{
    position: absolute;
    background-color: red;
    top: 0;
    right: 18px;
    width: 2px;
    height: 16px;
}
.track::before,
.track::after{
    content: "";
    position: absolute;
    background-color: red;
    top: 0;
    width: 2px;
    height: 16px;
    transform: rotate(-6deg);
}
.track::before{
    right: 6px;
}
.track::after{
    left: 6px;
}
.perso .linehead{
    position: absolute;
    background: red;
    top: 35px;
    left: 100px;
    width: 2px;
    height: 25px;
}


.div_content_restante_erro{
    height: 120px;
    width: 600px;
    position: absolute;
    top: 0;
    right: 0;
}

p{
    position: absolute;
    top: 37px;
    left: 50px;
    font-size: 20px;
    padding: 10px;
    background-color: blue;
    border-radius: 10px 10px 0 0;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 2px 1px #000;
}

.restante{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 40px;
    padding: 5px;
    font-size: 20px;
    background-color: darkgreen;
    border-radius: 10px;
    position: absolute;
    right: 20px;
    top: 20px;
}

.erroLetra{
    width: 500px;
    height: 40px;
    background-color: blue;
    position: absolute;
    top: 80px;
    left: 50px;
    font-size: 24px;
    padding: 10px;
    border-radius: 0 10px 10px;
    display: flex;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
    text-shadow: 2px 1px #000;
}


.div_content_palavra{
    height: 80px;
    width: 600px;
    position: absolute;
    right: 0;
    top: 120px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.palavraEscondida{
    width: 500px;
    height: 50px;
    background-color: #0096c8;
    border-radius: 10px;
    font-size: 35px;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 4px 2px #222;
}










.div_content_letter{
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

input{
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
    background-color: #3e4c4d;
    border: 1px solid deepskyblue;
    border-radius: 10px;
    color: #fff;
    transition: all ease-in-out 0.2s;
    outline: none;
    font-weight: bolder;
    font-size: 18px;
    box-shadow: inset 0px 4px #666,
                inset -4px 0px #666,
                inset 0px -4px #666,
                inset 4px 0px #666;

}
input:hover{
    transform: translateY(-2px);
    background-color: #496164;
    box-shadow: 0 6px #3e4c4d;
}


.add{
    position: absolute;
    top: 50px;
    margin-left: 5px;
    width: 770px;
    font-size: 90px;
    background-color: greenyellow;
    transition: ease-in-out 1s;
    opacity: .8;
    border-radius: 10px;
}
