*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(90deg, #000 0%, #111 70%, #222 100%);
    color: #fff;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
body::-webkit-scrollbar{
    display: none;
}



.container{
    height: 400px;
    width: 800px;
    border: 1px solid deepskyblue;
    border-radius: 10px;
    margin: 1% 10%;
    position: relative;
}

.child_container{
    height: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.perso_box{
    width: 190px;
    height: 190px;
    background-color: rgb(35, 86, 104);
    display: inline-block;
    position: relative;
    border-radius: 20px;
    margin: 10px 0 0 10px;
}
.perso_box span,
.perso_box div{
    background-color: rgb(255, 207, 104);
}

.perso_box .vertic{
    position: absolute;
    left: 34px;
    bottom: 10px;
    width: 16px;
    height: 155px;
    background-color: #a55800;
}
.perso_box .horizon{
    position: absolute;
    left: 34px;
    top: 10px;
    width: 100px;
    height: 15px;
    background-color: #a55800;
}
.perso_box .track{
    position: absolute;
    background-color: red;
    top: 0;
    right: 18px;
    width: 2px;
    height: 16px;
}
.track::before,
.track::after{
    content: "";
    position: absolute;
    background-color: red;
    top: 0;
    width: 2px;
    height: 16px;
    transform: rotate(-6deg);
}
.track::before{
    right: 6px;
}
.track::after{
    left: 6px;
}

.perso_box .linehead{
    position: absolute;
    background: red;
    top: 25px;
    left: 114px;
    width: 2px;
    height: 25px;
}

.head{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    bottom: 115px;
    left: 60%;
    transform: translateX(-50%);
    visibility: hidden;
}
.head .leftEye{
    position: absolute;
    left: 6px;
    top: 10px;
    width: 6px;
    height: 4px;
    border-radius: 50%;
    background-color: #111;
    visibility: hidden;
}
.head .rightEye{
    position: absolute;
    right: 6px;
    top: 10px;
    width: 6px;
    height: 4px;
    border-radius: 50%;
    background-color: #111;
    visibility: hidden;
}
.head .mounth{
    position: absolute;
    left: 10px;
    top: 20px;
    width: 10px;
    height: 4px;
    border-radius: 50%;
    background-color: rgb(255, 123, 0);
    visibility: hidden;
}
.perso_box .trunk{
    width: 30px;
    height: 45px;
    position: absolute;
    bottom: 65px;
    left: 60%;
    transform: translateX(-50%);
    visibility: hidden;
    background-color: #38e247;
}
.leftArm{
    width: 10px;
    height: 40px;
    position: absolute;
    bottom: 70px;
    left: 41%;
    transform: rotate(30deg);
    visibility: hidden;
}
.rightArm{
    width: 10px;
    height: 40px;
    position: absolute;
    bottom: 70px;
    right: 21%;
    transform: rotate(-30deg);
    visibility: hidden;
}
.leftLeg{
    width: 12px;
    height: 50px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: rotate(8deg);
    visibility: hidden;
}
.rightLeg{
    width: 12px;
    height: 50px;
    position: absolute;
    bottom: 10px;
    right: 30%;
    transform: rotate(-8deg);
    visibility: hidden;
}



.div_content_restante_erro{
    height: 120px;
    width: 598px;
    position: relative;
}

p{
    position: absolute;
    top: 40px;
    left: 8.19%;
    font-size: 20px;
    padding: 10px;
    background-color: blue;
    border-radius: 10px 10px 0 0;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 2px 1px #000;
}

.restante{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 20px;
    background-color: darkgreen;
    border-radius: 10px;
    position: absolute;
    right: 20px;
    top: 20px;
}

.erroLetra{
    width: 500px;
    height: 40px;
    background-color: blue;
    position: absolute;
    top: 80px;
    left: 8.19%;
    font-size: 20px;
    padding: 10px;
    border-radius: 0 10px 10px;
    display: flex;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
    text-shadow: 2px 1px #000;
}



.div_content_palavra{
    height: 80px;
    width: 598px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.palavraEscondida{
    width: 500px;
    height: 50px;
    background-color: #0096c8;
    border-radius: 10px;
    font-size: 35px;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 4px 2px #222;
}



.div_content_letter{
    height: 198px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

input{
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
    background-color: #3e4c4d;
    border: 1px solid deepskyblue;
    border-radius: 10px;
    color: #fff;
    transition: all ease-in-out 0.2s;
    outline: none;
    font-weight: bolder;
    font-size: 18px;
    box-shadow: inset 0px 4px #666,
                inset -4px 0px #666,
                inset 0px -4px #666,
                inset 4px 0px #666;
}
input:hover{
    transform: translateY(-2px);
    background-color: #496164;
    box-shadow: 0 6px #3e4c4d;
}



.add{
    position: absolute;
    top: 50px;
    margin-left: 5px;
    width: 770px;
    font-size: 90px;
    background-color: greenyellow;
    transition: ease-in-out 1s;
    opacity: .8;
    border-radius: 10px;
}



@media screen and (max-width: 1000px){
    .div_content_restante_erro,
    .div_content_palavra{
        width: calc(100% - 200px);
    }
    .erroLetra,
    .palavraEscondida{
        width: 83.62%;
    }
    .palavraEscondida{
        font-size: 30px;
    }

    @media screen and (max-width: 900px){
        body{
            justify-content: center;
        }
        .container{
            margin: 1% 1%;
        }
        p{
            font-size: 18px;
        }
        .restante{
            font-size: 18px;
        }
        .erroLetra{
            font-size: 18px;
        }

        @media screen and (max-width: 750px) and (min-width: 638px){
            .palavraEscondida{
                font-size: 25px;
            }
            .erroLetra{
                letter-spacing: 0;
            }
        }

        @media screen and (max-width: 638px){
            body{
                background-image: linear-gradient(0deg, #000 0%, #111 70%, #222 100%);
            }
            .container{
                height: 638px;
            }
            .child_container{
                flex-direction: row;
                justify-content: center;
                height: 400px;
            }
            .perso_box{
                margin-left: 0;
            }
            .div_content_restante_erro{
                width: 100%;
            }
            .div_content_palavra{
                width: 100%;
            }
            .div_content_letter{
                height: 236px;
            }

            @media screen and (max-width: 553px){
                input{
                    width: 45px;
                    height: 45px;
                    margin: 2px;
                }
                .palavraEscondida{
                    font-size: 25px;
                }
                .erroLetra{
                    letter-spacing: -1px;
                }

                @media screen and (max-width: 400px){
                    p{
                        top: 45px;
                    }
                    .erroLetra{
                        width: 98%;
                    }
                    p,
                    .erroLetra{
                        left: 1%;
                    }
                    .restante{
                        right: 1%;
                        padding: 8px;
                    }
                    .palavraEscondida{
                        width: 98%;
                        font-size: 22px;
                    }

                    @media screen and (max-width: 352px){
                        input{
                            width: 40px;
                            height: 40px;
                        }
                        .erroLetra{
                            font-size: 16px;
                        }
                        .palavraEscondida{
                            font-size: 20px;
                        }
                        .restante{
                            top: 5px;
                        }
                    }
                }
            }
        }
    }
}